<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Calculate Significance</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <!-- <script type="text/javascript" src="{% static 'main/js/jquery-3.2.1.min.js' %}"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script type="text/javascript" src="{% static 'main/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/index.js' %}"></script>
  </head>
  <body>
    <header>
        <!-- <div id="header">
          <h1>A/B Split Testing significance Calculator</h1>
        </div> -->
    </header>
    <main>
      {% block content %}
      <img id="banner" src="./../static/main/image/thebanner.jpeg" alt="Banner">
      <div class="container">
        <div class="question">
          <h3>Are your result significant?</h3>
        </div>
        <!-- <form id="theform" action="/process" method="post"> -->
        <form id="theform" action="/" method="post" onsubmit='return validateForm()'>
          {% csrf_token %}
          <div class="input">
              <div class="row">
                <div class="col-md-4">Number of Visitors</div>
                <div class="col-md-4 with_color">
                  <label for="">Control</label>
                  <input id="vistor1" type="number" name="vister1">
                </div>
                <div class="col-md-4 with_color">
                  <label for="">Variation</label>
                  <input id="vistor2" type="number" name="vister2">
                </div>
              </div>
              <div class="row">
              </div>
              <div class="row">
                <div class="col-md-4">Number of Conversions</div>
                <div class="col-md-4 with_color">
                  <label for="">Control</label>
                  <input id="convert1" type="number" name="convert1">
                </div>
                <div class="col-md-4 with_color">
                  <label for="">Variation</label>
                  <input id="convert2" type="number" name="convert2">
                </div>
              </div>
            </div>
            <h4 id="error" style="text-align:center; color:red"></h4>
            <div class="submit">
              <button id="submit" class="btn btn-primary btn-lg">Calculate Significance</button>
            </div>
          </form>
      </div>

      <div id="result" class="result">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="top">
                <h3>P-Value</h3>
                <h5>(Range from 0-1)</h5>
              </div>
              <div class="bottom">
                  <h4 id="pvalue"></h4>
              </div>
            </div>
            <div class="col-md-6">
              <div class="top">
                <h3>Significance</h3>
              </div>
              <div class="bottom">
                <h4 id="significance"></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}
    </main>
    <footer style="height:300px;background-color:#1D212C">

    </footer>
    {% block javascript %}
      <script type="text/javascript">

        $('form').submit(function(e){
          e.preventDefault();
          // console.log('Form submit but no HTTP request sent to server')
          $.ajax('/', {
            // url: ('/'),
            method: "post",
            data: $(this).serialize(),
            success: function(data){
              console.log(data)
              $('#pvalue').text(data.p);
              $('#error').text(data.message);
              if (data.confidence){
                $('#significance').text('YES')
              }else{
                $('#significance').text('No')
              }
            }
          })
        })

      </script>
      <script type="text/javascript" src="{% static 'main/js/index.js' %}"></script>
    {% endblock %}
  </body>
</html>
