*{
  /*border: 1px solid pink*/
}

#header{
  text-align: center;
  background-color: lavender;
  width: 100%;
  padding:5%;
}

#banner{
  height: 80%
}

.question{
  text-align: center;
  padding:5%;
}

.input{
  text-align: center;
  border: 1px solid lightgrey;
}

.input div{
  /*display: block;*/
  margin: auto;
}

.col-md-4{
  padding: 1%;
}

.with_color{
  background-color: #D2D8DF;
}

.submit{
  padding: 3%;
  text-align: center
}

.result{
  background-color: #2B3951;
  height: 550px;
  text-align: center;
  padding: 10%;
  /*display: none;*/
}


.top{
  width: 80%;
  margin: auto;
  height: 150px;
  color: lightblue;
  padding: 10%;
  background-color: white;
  border-radius: 5px 5px 0 0
}

.bottom{
  width: 80%;
  margin: auto;
  height: 150px;
  background-color: lightgray;
  padding: 10%;
  border-radius: 0 0 5px 5px
}
